- name: copy the catalgue service file
  ansible.builtin.copy:
    src: catalogue.service.j2
    dest: /etc/systemd/system/catalogue.service

- name: reload the systemctl demon
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: start and ebale the service
  ansible.builtin.service:
    name: catalogue
    state: restarted #even app is not running we can restart catalogue service
    enabled: yes

