- name: copy the catalgue service file
  ansible.builtin.template:
    src: catalogue.service.j2
    dest: /etc/systemd/system/catalogue.service

- name: reload the systemctl demon
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: start and ebale the service
  ansible.builtin.service:
    name: catalogue
    state: started #even app is not running we can restart catalogue service
    enabled: yes

# - name: copy {{ component }} service to system directory
#   ansible.builtin.template:
#     src: "{{ component }}.service.j2"
#     dest: "/etc/systemd/system/{{ component }}.service"

# - name: systemctl deamon reload
#   ansible.builtin.systemd_service:
#     daemon_reload: true

# - name: start and enable {{ component }}
#   ansible.builtin.service:
#     name: "{{ component }}"
#     state: started # even app is not running we can restart
#     enabled: yes